  /*  ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

  /*  li {
        float: left;
        padding: 1em;
    }

    li a {
        display: block;
    }*/

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    .dynamic-table {
        margin-left: auto;
        margin-right: auto;
      }

    th,
    td {
        padding: 1em;
    }

    input {
        width: 100%;
        display: inline-block;
    }

    h3 {
        text-align: center;
    }

    label {
        text-transform: capitalize;
    }

    form {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    }